<article class="doc">
    <h1 class="page">{{{'Страница не найдена'}}}</h1>
    <div class="paragraph">
        <p>Страница не найдена. Возможно, она была перемещена, или неверно указан адрес страницы. </p>
        <p>Вы можете{{#with site.homeUrl}} вернуться на <a href="{{{this}}}">главную страницу</a> {{/with}} или выбрать
            нужный раздел в навигации слева.</p>
    </div>
    <div class="paragraph">
        <p>Если вы перешли по ссылке на эту страницу, пожалуйста <a
                href="mailto:help@example.ru?subject=doc_404">сообщите о сломанной ссылке.</a></p>
        <p>Если вы ввели адрес вручную - перепроверьте введенный адрес.</p>
        <img src="{{site.homeUrl}}/404.gif" alt="404 gif image">
    </div>

</article>